html {
	position: relative;
	min-height: 100%;
}

.default-header {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;

	padding: 15px 10px 10px 10px;
	border-bottom: solid black 2px;

	background-color: #c52020;
	color: white;
}

.default-content {
	margin-top: 60px;
	padding: 10px;
	background-color: white;
	margin-bottom: 60px;
}

.default-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;

	padding-top: 10px;
	border-top: solid #666666 3px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;

	background-color: #353535;
	color: white;
}

div.information {
	color: #888888;
	font-size: 8pt;
}

div.scrollbox {
	max-height: 300px;
	max-width: 200px;
	overflow: auto;
	border: none;
}

/* ---------- Login forms ---------- */
.login-form {
	width: 340px;
	margin: 50px auto;
}
.login-form form {
	margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn-login {
    min-height: 38px;
    border-radius: 2px;
}
.btn-login {        
    font-size: 15px;
    font-weight: bold;
}
/* --------------------------------- */

table.noborder {
	border: none;
}

table.noborder td {
	padding: 5px;
}

table.verbatim{
	float: left;
	margin: 10px;
}

table.verbatim td.indextitle{
	color: white;
	font-weight: bold;
	background-color: #0b2d5e;
}

table.verbatim th, table.verbatim td{
	border: 1px solid #aaaaaa;
	padding: 5px;
	font-size: 0.75em;
}

table.tickers th, table.tickers td{
	border: 1px solid #aaaaaa;
}

table.tickers thead {
	font-weight: bold;
}

table.tickers th, table.tickers td {
	padding: 15px;
}

table.charts th, table.charts td{
	border: 1px solid #aaaaaa;
}

table.charts thead {
	font-weight: bold;
}

table.charts th, table.charts td {
	padding: 15px;
}