{% extends "jads/base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<h2>Unable to Log In</h2>

<p />Your login details are invalid!
<br />Click <a href="/verbatim/accounts/login/">here</a> to try again.

{% endblock %}