{% extends "jads/base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<h2>Log In</h2>

<p />You are now logged in as {{full_name}}.
<br />Click <a href="/verbatim/accounts/logout/">here</a> to logout.

{% endblock %}