{% extends "jads/base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

{% if form.errors %}
	<p class="error">Sorry, that's not a valid username or password.</p>
{% endif %}

<div class="login-form">
	<form action="/verbatim/accounts/auth/?next={{request.GET.next}}" method="post">{% csrf_token %}
	<input type="hidden" name="next" value="{{ request.GET.next }}" />
		<h2 class="text-center">Log In</h2>
		<div class="form-group">
			<div class="form-group">
				<input class="form-control" type="text" name="username" value="" id="username" placeholder="Username" required="required">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" value="" id="password" placeholder="Password" required="required">
			</div>
			<div class="form-group">
				</td><td><input type="submit" class="btn btn-login btn-danger btn-block" value="Login"/>
			</div>
		</div>
		{% if errormessage != None %}
		<p />{{errormessage}}
		{% endif %}
	</form>
</div>

{% endblock %}