{% extends "jads/base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<h2>Log In</h2>

<p />You are now logged out.
<br />Click <a href="/verbatim/accounts/login/">here</a> to log in again.

{% endblock %}