html {
	position: relative;
	min-height: 100%;
}

.default-header {
	position: fixed;
	top: 0px;
	height: 60px;
	width: 100%;

	padding: 15px 10px 10px 10px;
	border-bottom: solid black 2px;

	background-color: #c52020;
	color: white;
}

.default-content {
	margin-top: 60px;
	padding: 10px;
	background-color: white;
	margin-bottom: 60px;
}

.default-footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;

	padding-top: 10px;
	border-top: solid #666666 3px;

	background-color: #353535;
	color: white;
}

div.information {
	color: #888888;
	font-size: 8pt;
}

table.noborder {
	border: none;
}

table.noborder td {
	padding: 5px;
}

table.tickers th, table.tickers td{
	border: 1px solid #aaaaaa;
}

table.tickers thead {
	font-weight: bold;
}

table.tickers th, table.tickers td {
	padding: 15px;
}

table.charts th, table.charts td{
	border: 1px solid #aaaaaa;
}

table.charts thead {
	font-weight: bold;
}

table.charts th, table.charts td {
	padding: 15px;
}