{% extends "jads/base.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<h2>Verbatim</h2>

<p />This site contains cryptocurrency analysis tools you can use to visualize trends, movements and energies in crypto markets, and to inform better decision making when interacting in those markets.

<p /><b>Tickers</b>
<br />Use this page to view the current price, volume, and volatility of crypto pairs for the exchanges we have connected to Verbatim.

<p /><b>Charts</b>
<br />This page lists the OHLC values and volume for a given exchange, market and time interval.

<p /><b>Indicators</b>
<br />Like the Charts page, the Indicators page generates OHLC and volume for a given exchange, market and time interval, but runsalso  the price sequence through a series of transformations to generate additional values for several common and proprietary indicators:
<ul>
	<li>True Strength Indicator (TSI)</li>
	<li>Relative Strength Indicator (RSI)</li>
	<li>Average Directional Index (ADX)</li>
	<li>Williams VIX Fix</li>
	<li>JADS</li>
</ul>

<p /><b>Verbatim Index</b>
<br />The Verbatim Index is a proprietary algorithm that aggregates a market's strength, trend, momentum, volatility and volume across multiple timeframes to identify its true status at a given time. The Verbatim Index is the state of the market, presented "verbatim".

<p /><b>Strategies</b>
<br />This page allows you to use the JADS indicator to configure a strategy and test it's performance over a period of time.

<p><i>For more information, contact <a href="mailto:info@redgoatpioneers.com">info@redgoatpioneers.com</a>.</i>

{% endblock %}