<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<title>Verbatim</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.min.css' %}" type='text/css' />
	<link rel='stylesheet' href="{% static 'styles/jads.css' %}" type='text/css' />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<header class="default-header">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/verbatim">Verbatim</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/verbatim/about">About<span class="sr-only">(current)</span></a></li>
	        <li><a href="/verbatim/tickers">Tickers</a></li>
	        <li><a href="/verbatim/charts">Charts</a></li>
	        <li><a href="/verbatim/indicators">Indicators</a></li>
	        <li><a href="/verbatim/vbi">Verbatim Index</a></li>
	        <li><a href="/verbatim/strategies">Strategies</a></li>
	      </ul>

	      {% if user.is_authenticated %}

	      {% if user.is_staff %}
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/admin">Admin</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/verbatim/logs">Logs</a></li>
	            <li><a href="/verbatim/candlemaker">Candlemaker</a></li>
	            <li><a href="/verbatim/analysis">Analysis</a></li>
	            <li><a href="/verbatim/indexmaker">Indexmaker</a></li>
	          </ul>
	        </li>
	        <li><a href="/verbatim/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      </ul>
	      {% endif %}

	      {% if not user.is_staff %}
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/verbatim/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      </ul>
	      {% endif %}

	      {% endif %}

	      {% if not user.is_authenticated %}
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/verbatim/accounts/login/?next=/verbatim/about"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li>
	      </ul>
	      {% endif %}
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>

<body>
	<div class="default-content">
		{% block content %}
		{% endblock %}
	</div>
</body>

<footer class="default-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-4">
				<b><p>Red Goat Pioneers, LLC © 2017</p></b>
			</div>
			<div class="col-md-10">
			</div>
		</div>
	</div>
</footer>

</html>