{% extends "jads/base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'scripts/jads/loadfile.js' %}"></script>
<div class="loadform">
	<h1>Load Historical Data</h1>
	<p />This utility will allow you to load a CSV file containing historical trade data.
		 The CSV file must not have a header row and must contain only three columns:
	<br />1) Trade date in UNIX time.
	<br />2) Price of the base currency in terms of the quote currency.
	<br />3) Total amount of the base currency that was traded.

	<p />For example, if you are loading a file containing BTC/USD trades, each row should
	     look like this: 1420691187,293.54,0.01
	
	<p />This process takes a long time for large files. Data will be loaded in batches of
	     100,000 rows. You should see a message after the file is complete indicating success.

	<p /><label for="filepath">Identify a file to upload (full path*): </label>
	<input id="filepath" type="text" name="filepath" accept=".csv">
	<div class="information">
	* Must be the full path of a file on the server this application is currently running from.
	</div>
	<p /><table class="noborder">
		<tr>
			<td>Exchange</td>
			<td><select id="datasource">
				{% for e in exchanges %}
					<option value="{{e.name}}">{{e.name}}</option>
				{% endfor %}
				</select>
		</tr>
		<tr>
			<td>Base Currency</td>
			<td><select id="basecurrency">
				{% for c in currencies %}
					<option value="{{c.name}}">{{c.name}}</option>
				{% endfor %}
				</select>
		</tr>
		<tr>
			<td>Quote Currency</td>
			<td><select id="quotecurrency">
				{% for c in currencies %}
					<option value="{{c.name}}">{{c.name}}</option>
				{% endfor %}
				</select>
		</tr>
	</table>
	{% csrf_token %}
	<p /><button class="btn" id="loadfile">Load File</button> <span id="loadinginformation"></span>
</div>
<p><h2>Existing Trades by Exchange</h2>
<button class="btn" id="loadstatuses">Load Statuses</button>
<div class="status">
<!--
	{% for e in exchangestatuses %}
	<p>Exchange: {{e.exchange}}
	<br>Total trades: {{e.numtrades}}
	<br>Earliest trade: {{e.mintradedate}}
	<br>Latest trade: {{e.maxtradedate}}
	{% endfor %}
-->
</div>
{% endblock %}