{% extends "jads/base.html" %}

{% block head %}
{% load static %}
<script src="{% static 'scripts/jads/tickers.js' %}"></script>
{% endblock %}

{% block content %}

<h2>Server Logs</h2>
<hr />

{% for log in logs %}
<p>
<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading"><h4><b>{{log.name}}</b></h4></div>
		<div class="panel-body"><pre>
		{% for line in log.data %}
    	{{line}}
    	{% endfor %}
    	</pre></div>
    </div>
</div>
<hr />
{% endfor %}

{% endblock %}