{% load static %}
<link rel='stylesheet' href="{% static 'styles/jquery-ui-timepicker-addon.css' %}" type='text/css' />
<script src="{% static 'scripts/jquery-ui-timepicker-addon.js' %}"></script>

<table class="noborder" id="chart_selectors">
	<tr>
		<td>Exchange</td>
		<td><select id="datasource">
		{% for e in exchanges %}
			{% if e.name == "GDAX" %}
			<option value="{{e.name}}" selected="selected">{{e.name}}</option>
			{% else %}
			<option value="{{e.name}}">{{e.name}}</option>
			{% endif %}
		{% endfor %}
		</select></td>
	</tr>
	<tr>
		<td>Base Currency</td>
		<td><select id="basecurrency">
		{% for s in currencies %}
			{% if s.name == "Bitcoin" %}
			<option value="{{s.name}}" selected="selected">{{s.name}}</option>
			{% else %}
			<option value="{{s.name}}">{{s.name}}</option>
			{% endif %}
		{% endfor %}
		</select></td>
		<td>Start Time:</td>
		<td><input type="text" id="starttime" value="2017-11-01 12:00 AM"/></td>
		<td>Interval</td>
		<td><select id="interval">
			<option value="300">5 minutes</option>
			<option value="900">15 minutes</option>
			<option value="1800">30 minutes</option>
			<option value="3600">1 hour</option>
			<option value="7200">2 hours</option>
			<option value="14400">4 hours</option>
			<option value="28800">8 hours</option>
			<option value="86400" selected="selected">1 day</option>
			<option value="604800">1 week</option>
		</select></td>
	</tr>
	<tr>
		<td>Quote Currency</td>
		<td><select id="quotecurrency">
		{% for s in currencies %}
			{% if s.name == "United States Dollar" %}
			<option value="{{s.name}}" selected="selected">{{s.name}}</option>
			{% else %}
			<option value="{{s.name}}">{{s.name}}</option>
			{% endif %}
		{% endfor %}
		</select></td>
		<td>End Time:</td>
		<td><input type="text" id="endtime" value="2018-03-01 12:00 AM"/></td>
	</tr>
	<tr>
		<td>Show Candlestick Chart?</td>
		<td><input type="checkbox" id="showcandlechart"/></td>
	</tr>
</table>

<!-- Datetime pickers -->
<script>
	$(function() {
        $("#starttime").datetimepicker({
        	timeFormat: "hh:mm TT",
        	dateFormat: "yy-mm-dd"
        });
    });

    $(function() {
        $("#endtime").datetimepicker({
        	timeFormat: "hh:mm TT",
        	dateFormat: "yy-mm-dd"
        });
    });
</script>
