	<table class="noborder" id="indicator_selectors">
		<tr>
			<td colspan="2" style="width:200px"><b><font color="#2255cc">True Strength Index</b></font></td>
			<td colspan="2" style="width:200px"><b><font color="red">Relative Strength Index</b></font></td>
			<td colspan="2" style="width:200px"><b><font color="orange">Average Directional Index</b></font></td>
			<td colspan="2" style="width:200px"><b><font color="green">VIX Fix</b></font></td>
		</tr>
		<tr>
			<td>TSI Short:</td>
			<td><input type="text" size="3" id="tsi_short" value="14"/></td>
			<td>RSI Length:</td>
			<td><input type="text" size="3" id="rsi_length" value="14"/></td>
			<td>ADX Smoothing:</td>
			<td><input type="text" size="3" id="adxlen" value="14"/></td>
			<td>Vix Fix Length:</td>
			<td><input type="text" size="3" id="wvf_length" value="14"/></td>
		</tr>
		<tr>
			<td>TSI Long:</td>
			<td><input type="text" size="3" id="tsi_long" value="25"/></td>
			<td></td>
			<td></td>
			<td>DI Length:</td>
			<td><input type="text" size="3" id="dilen" value="14"/></td>
			<td></td>
		</tr>
	</table>