<table class="noborder">
	<tr>
		<td>Back Testing</td>
		<td><input type="checkbox" id="backtest" checked/></td>
		<td>Initial Holdings (Base)</td>
		<td><input type="text" size="8" id="deposit" value="1"/></td>
		<td>% to Trade Each Period</td>
		<td><input type="text" size="3" id="trade_percentage" value="50"/></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Initial Trading Balance (Quote)</td>
		<td><input type="text" size="8" id="investment" value="10000"/></td>
	</tr>
</table>