<table class="noborder" id="indicators_displayed">
	<tr>
		<td><input type="checkbox" id="open" checked/></td><td>Open Price</td>
		<td><input type="checkbox" id="tsi" checked/></td><td>True Strength (TSI)</td>
		<td><input type="checkbox" id="sma20" checked/></td><td>Moving Average (SMA20)</td>
	</tr>
	<tr>
		<td><input type="checkbox" id="high" checked/></td><td>High Price</td>
		<td><input type="checkbox" id="tsi_signal" checked/></td><td>TSI Signal</td>
		<td><input type="checkbox" id="sma50" checked/></td><td>Moving Average (SMA50)</td>
	</tr>
	<tr>
		<td><input type="checkbox" id="low" checked/></td><td>Low Price</td>
		<td><input type="checkbox" id="rsi" checked/></td><td>Relative Strength (RSI)</td>
		<td><input type="checkbox" id="sma100" checked/></td><td>Moving Average (SMA100)</td>
	</tr>
	<tr>
		<td><input type="checkbox" id="close" checked/></td><td>Close Price</td>
		<td><input type="checkbox" id="adx" checked/></td><td>Average Direction (ADX)</td>
		<td><input type="checkbox" id="vbi" checked/></td><td>Verbatim Index (VBI)</td>
	</tr>
	<tr>
		<td><input type="checkbox" id="volume" checked></td><td>Volume</td>
		<td><input type="checkbox" id="wvf" checked/></td><td>Volatility (VIX)</td>
		<td><input type="checkbox" id="showindicatorchart"/></td><td>Show Indicators Chart?</td>
		<td></td><td></td>
	</tr>
<!--
	<tr>
		<td><input type="checkbox" id="" checked></td><td></td>
		<td><input type="checkbox" id="" checked></td><td></td>
		<td><input type="checkbox" id="" checked></td><td></td>
	</tr>
-->
</table>